.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 2pt;
    width: 90%;
}

.input {
    margin: 2pt;
    width: 90%;
}
